/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-promoted /* A node that has been promoted to the front page */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page /* Page content node */ {
}

.node-article /* Article content node */ {
}

h2.node-title /* Node title */ {
}

.node .user-picture /* The picture of the node author */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}


.ui-datepicker td.ui-datepicker-week-end .ui-state-default {
    background: none repeat scroll 0 0 #EAE6AC;
    border: 1px solid #FFFFFF;
}

.ui-datepicker td .ui-state-default {
    background: none repeat scroll 0 0 #A2C4D9;
    border: 1px solid #FFFFFF;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}
.ui-widget-header {
  background:none;
}
.ui-corner-all{
  border:none;
}

ul.info-list {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.postCont-new ul.info-list li {
    margin-right: 11px;
}

ul.info-list li {
    display: inline-block;
    float: left;
    margin: 0 20px 12px 0;
}
.postCont-new ul.info-list li {
    margin-right: 6px;
}
ul.info-list li a {
    color: #7C7058;
    display: inline-block;
    font-size: 14px;
}
ul.info-list li a .name {
    display: block;
    margin-bottom: 2px;
}
ul.info-list li a .imgPart {
    display: block;
    font-size: 1px;
    line-height: 1px;
}
#slides {
    background: url("../images/border-hor.jpg") repeat-x scroll center bottom transparent;
    margin-bottom: 0;
    padding-bottom: 18px;
}
.link-btn a {
    background: url("../images/breadcum-divider.jpg") no-repeat scroll right center transparent;
    color: #7C7058;
    display: inline-block;
    font-size: 14px;
    margin-right: 14px;
    padding-right: 16px;
}
.link-btn {
    display: inline-block;
    padding-left: 124px;
}
.breadcum ul li.last {
    background: none repeat scroll 0 0 transparent;
    margin-right: 0;
    padding-right: 0;
}
#slides .slide ul.tabs {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: auto;
}
#slides .slide ul.tabs li {
    background: url("../images/breadcum-divider.jpg") no-repeat scroll right center transparent;
    display: inline-block;
    float: left;
    padding-right: 1px;
    width: 138px;
}
#slides .slide ul.tabs li.ui-state-active a {
    background: none repeat scroll 0 0 #F4F3F2;
}

#slides .slide ul.tabs li a {
    color: #BFB9A9;
    display: block;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
#slides .slide ul.tabs li.last {
    background: none repeat scroll 0 0 transparent;
    padding-right: 0;
}
#slides .slide ul.tabs li.ui-state-active a {
    background: none repeat scroll 0 0 #F4F3F2;
}
#slides .slide .textPart {
  float:right;
  padding-left:10px;
  width:287px;
  margin-left:400px;
}
#slides .slide .tabCont {
    background: none repeat scroll 0 0 #ECE9E4;
    float: left;
    margin-top: -3px;
    min-height: 177px;
    padding: 10px;
    width: 267px;
}
#slides .slide .lftSect {
    width: 417px;
}
#slides .slideContainer {
    height: 223px;
}
.ui-datepicker table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0 0 0.4em;
    width: 100%;
}
#block-block-16 .small-banner img{
  float:right;
  margin-top: -4px;
}
#block-block-16 .small-banner{
  height:238px;
}
#block-block-18 .small-banner{
  height:238px;
}
#block-block-16 .reserv-btn{
  top:-36px;
}
#block-block-17 .reserv-btn{
  top:-36px;
}
#block-block-17 .imgPart img{
  margin-top: -5px;
  margin-right: -2px;
}
#block-block-17{
  height:74px;
}
#block-block-28 .reserv-btn{
  top:-36px;
}
#block-block-28 .imgPart img{
  margin-top: -5px;
  margin-right: -2px;
}
#block-block-28{
  height:74px;
}
#block-block-28 .small-banner h3{
  padding-top:3px;
} 
#block-block-18 .reserv-btn{
  top:-36px;
}
#block-block-18 .imgPart img{
  margin-top: -5px;
  margin-right: -2px;
}

.quicktabs-tabs li a.active {
    color: #BFB9A9;
    display: block;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    float:left;
}

#quicktabs-container-floorplan_amanities{
    clear:both;
     background: none repeat scroll 0 0 #ECE9E4;
    margin-top: -3px;
    min-height: 177px;
    padding: 10px;
    width: 267px;
}

#quicktabs-floorplan_amanities{
    float: right;
    width: 269px;
}
.quicktabs-tabs li a
{
    background: none repeat scroll 0 0 transparent;
    padding-right: 0;
    margin-right: 17px;
    padding: 5px;
}
.quicktabs-tabs .active a
{
    background-color:#F4F3F2;
    margin-right: 17px;
    padding:5px 5px 0px 5px;
}


